<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top mb-3 ft-dark-bg pt-3 pb-3">
        <div class="container d-flex flex-row justify-content-start">
            <div>
                @Html.ActionLink("FirstTrade!", "Index", "Home", new { area = "" }, new { @class = "h1 ft-light-text" })
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FirstTrade!</p>
        </footer>*@
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
<style>
    /* Global */
    * {
        box-sizing: border-box;
        line-height: 1.4;
    }

    body {
        color: var(--black);
    }

    a {
        text-decoration: none;
    }

    img {
        width: 100%;
        height: auto;
    }

    /* 全站主色系 */
    :root {
        --yellow: #ffe359;
        --black: #3F3F3F;
        --lightyellow: #FFEB85;
        --lightblack: #5c5c5c;
    }

    .ft-btn {
        background: var(--black);
        color: var(--yellow);
        border-radius: 4px;
    }

    .ft-btn:hover {
        background: var(--lightblack);
        color: var(--lightyellow);
    }

    .ft-dark-bg {
        background: var(--black);
    }

    .ft-light-bg {
        background: var(--yellow);
    }

    .ft-dark-text {
        color: var(--black);
    }

    .ft-light-text {
        color: var(--yellow);
    }

    .ft-light-text:hover {
        color: var(--lightyellow);
        text-decoration: none;
        transition: 0.4s;
    }
</style>
