<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/wenk/dist/wenk.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <style type="text/css">

        @@media screen and (min-width: 576px) {
            .ft-navbar {
                padding: 0.3rem 0;
            }

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .burger {
                display: none;
            }

            .active-links {
                display: none;
            }
        }

        @@media screen and (max-width: 576px) {
            .links {
                display: none;
            }

            .burger {
                display: block;
                position: absolute;
                top: 15px;
                right: 15px;
                outline: none;
                transition: 0.3s;
                font-weight: bold;
            }

                .burger:hover {
                    background: var(--yellow);
                    color: var(--black);
                    border-color: var(--yellow);
                }

            .active-links {
                display: block;
                width: 100%;
                background: var(--black);
                top: 50px;
                left: 0px;
                right: 10px;
                padding-top: 20px;
            }
        }
    </style>
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div id="nav" class="ft-navbar">
        <div class="container-lg header">
            @Html.ActionLink("FirstTrade!", "Index", "Home", null, new { @class = "h2 ft-light-text" })
            <ul class="links">
                <li class="ps-sm-3 pe-sm-3 pb-sm-0 pb-3">
                    @Html.ActionLink("教師專區", "TeacherArea", "Home", null, new { @class = "h5 ft-light-text" })
                </li>
                <li class="ps-sm-3 pe-sm-3 pb-sm-0 pb-3">
                    @Html.ActionLink("小知識", "Tips", "Home", null, new { @class = "h5 ft-light-text" })
                </li>
                <li class="ps-sm-3 pe-sm-3 pb-sm-0 pb-3">
                    @Html.ActionLink("StockGame", "Test1", "Stock", null, new { @class = "h5 ft-light-text" })
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="ps-sm-3 pe-sm-3 pb-sm-0 pb-3">
                        @Html.ActionLink(" " + (User.Identity.Name), "UserArea", "Home", null, new { @class = "h5 ft-light-text far fa-user" })
                    </li>
                    <li class="ps-sm-3 pe-sm-3 pb-sm-0 pb-3">
                        @Html.ActionLink("登出", "Logout", "Home", null, new { @class = "h5 ft-light-text" })
                    </li>
                }
                else
                {
                    <li class="ps-sm-3 pe-sm-3 pb-sm-0 pb-3">
                        @Html.ActionLink("登入", "Login", "Home", new { @class = "h5 ft-light-text" })
                    </li>
                    <li class="ps-sm-3 pe-sm-3 pb-sm-0 pb-3">
                        @Html.ActionLink("註冊", "SignUp", "Home", new { @class = "h5 ft-light-text" })
                    </li>
                }
            </ul>
            <button class="ft-dark-bg ft-light-text burger">+</button>
        </div>
    </div>

    @RenderBody()
    @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FirstTrade!</p>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

<script>
    const burger = document.querySelector(".burger");
    const links = document.querySelector(".links");

    burger.addEventListener("click", () => {
        links.classList.toggle("active-links")
    })
</script>
<style>
</style>