@model IEnumerable<FirstTrade_.Models.EFModels.recordprofit>

@{
    ViewBag.Title = "UserArea";
}

<h2>UserArea</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stocknumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buycost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stocknumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buycost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.profit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
        </tr>
    }

</table>
