@using FirstTrade_.Models.Services
@model IEnumerable<FirstTrade_.Models.ViewModels.UserAreaVM>

@{
    ViewBag.Title = "UserArea: " + "Hi " + (User.Identity.Name);
    ViewBag.UserMsg = "Hi! " + (User.Identity.Name) + "!";
    var pagebox = ViewBag.Pagebox as PageBox;
}


<div class="container">
    <div class="mb-3">
        <div style="font-size:20px">
            @Html.ActionLink("查看統計", "UserTotalArea")
        </div>
        <h3>@ViewBag.UserMsg <span class="h4">以下是您的交易明細:</span></h3>
    </div>

    <table class="table border">
        <thead class="ft-light-bg">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.stocknumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.buycost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sellprice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.profit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.stocknumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.buycost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sellprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.profit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
            </tr>
        }

    </table>

    @* 頁碼 *@
    <div class="d-flex flex-column justify-content-center align-items-center mt-4">
        <p>共 @pagebox.TotalRecords 筆</p>
        <p>現在是第 @pagebox.PageNumber 頁 / 總頁數 : @pagebox.Pages</p>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    @{
                        string url0 = "";
                        if (pagebox.PageNumber - 1 > 0)
                        {
                            url0 = pagebox.GetUrl(pagebox.PageNumber - 1);
                            <a class="page-link ft-dark-text ft-light-bg" href="@url0" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        }

                    }
                </li>
                    @{
                        string url = "";
                        int currentPageNumber = 0;
                        for (int i = 0; i < pagebox.PageBarItemCount; i++)
                        {
                            currentPageNumber = pagebox.PageBarStartNumber + i;
                            url = pagebox.GetUrl(currentPageNumber);

                            <li><a href="@url" class="page-link ft-dark-text ft-light-bg">@currentPageNumber</a></li>
                        }
                    }

            <li class="page-item">
                @{
                    string url1 = "";
                    if (pagebox.PageNumber + 1 <= pagebox.Pages)
                    {
                        url1 = pagebox.GetUrl(pagebox.PageNumber + 1);
                        <a class="page-link ft-dark-text ft-light-bg" href="@url1" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    }

                }

            </li>
                </ul>
        </nav>
    </div>

</div>

